body{
  margin: 0;
  padding: 0;
}

h2 {
  margin-right: 70%;
}


footer {

}
.container2 {
  background-image: url(lock-image.jpg);
}

.social {
  width: 70px;
  margin: auto;
  margin-top: 10%;
}
.faceBook:hover {
  opacity: .6;
}

.faceBook {
  position: absolute;
  left: 20%;
}

.linkedin:hover {
  opacity: .6;
}

.linkedin {
  position: absolute;
    width: 70px;
    right: 20%;
}

.twitter:hover {
  opacity: .6;
}

.container {
  width: 300px;
    margin: auto;
    border: 1px solid;
    padding: 40px;
    box-shadow: 15px 10px 5px 0px rgb(5 5 5);
    border-radius: 20px;
    text-align: center;
    background-color: gray;
}

.input-box {
  padding: 5px;
    border-radius: 3px;
    margin: 5px;
    width: 90%;
}

.sign-up {
  padding: 5px;
    width: 94%;
    border-radius: 4px;
    color: #fff;
    background-color: steelblue;
    cursor: pointer;
    margin: 15px;
    margin-left: 8px;
}

.podlock {
  width: 100px;
}